@media (max-width: 767px) {
    .blog-page {
        padding-top: 25px;
        padding-bottom: 50px;
        background-color: #F8F9FB;
    }
}

@media (min-width: 768px){
    .blog-page {
        padding-top: 25px;
        padding-bottom: 50px;
        background-color: #F8F9FB;
    }
}

p {
    color: #444;
}

@media (max-width: 767px) {
    .blue-stroke-bp {
        width: 76px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .blue-stroke-bp {
        width: 150px;
        padding-bottom: 60px;
    }
}

@media (min-width: 992px) {
    .blue-stroke-bp {
        width: 240px;
        padding-bottom: 60px;
    }
}
.container-article-blog {
    justify-content: center;
}

@media (max-width: 767px) {
    .container-article-blog {
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        position: relative;
        left: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container-article-blog {
        width: 100%;
        position: relative;
        left: 12px;
    }
}

.article-blog {
    padding: 0 !important;
 }

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .article-blog:last-child {
        align-self: flex-start;
    }
}

.intitule-bp {
    color: #1e1e1e;
    font-weight: 600;
}

.description-bp {
    font-size: 0.9rem;
}

.card-footer-content-bp {
    color: #444;
}
