.navbar {
    background-color: #444;
}

.navbar-brand {
    font-weight: 600;
}

.navbar-toggler {
    border: 5px solid rgb(255, 255, 255) !important;
    border-radius: 10px !important;
}

.navbar-toggler-icon {
    /*
        La propriété "stroke" permet de changer la couleur de l'icône du menu burger 
        et la proriété "viewBox" permet de modifier la positions et la taille des trois traits.
    */
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-2 0 33 30%27%3e%3cpath stroke=%27rgba%28255, 255, 255, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%273%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
}

.nav-link {
    font-weight: 600 !important;
}