.home-page {
    background-color: #F8F9FB;
}

@media (max-width: 767px) {
    .bg-image::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        z-index: 0;
    }
}

.bg-image {
    position: relative;
}

.bg-image>* {
    position: relative;
    z-index: 10;
}

@media (max-width: 767px) {
    .bg-image {
        height: 768px;
        background-image: url(../images/img/hero-bg-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .bg-image::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        z-index: 0;
    }

    .bg-image {
        height: 1000px;
        background-image: url(../images/img/hero-bg-tablette.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media (min-width: 992px) {
    .bg-image::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        z-index: 0;
    }

    .bg-image {
        height: 700px;
        background-image: url(../images/img/hero-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.titre {
    font-size: calc(2.6rem + 1.5vw) !important;
    font-weight: 600 !important;
}

.titres {
    font-weight: 600 !important;
    color: #1e1e1e;
}

@media (max-width: 767px) {
    .h2-hp {
        font-size: calc(1.3rem + .6vw) !important;
        font-weight: 600 !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .h2-hp {
        font-weight: 600 !important;
        font-size: calc(1.375rem + 1.5vw) !important;
    }
}

@media (min-width: 992px) {
    .h2-hp {
        font-weight: 600 !important;
        font-size: calc(1.325rem + 1.1vw) !important;
    }
}

.a-propos {
    padding-bottom: 100px;
}

@media (min-width: 768px) {
    .a-propos {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 768px) {
    .a-propos>.card {
        padding: 1.25rem 2rem 3rem 2rem !important;
    }
}

.titre-a-propos {
    padding-top: 15px;
}

@media (max-width: 991px) {
    .titre-a-propos {
        font-size: calc(1.375rem + 1.5vw) !important;
    }
}

@media (min-width: 992px) {
    .titre-a-propos {
        font-size: calc(1.3rem + .6vw);
    }
}

@media (min-width: 768px) {
    .texte-a-propos {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .texte-a-propos {
        font-size: 1rem;
    }
}

.competences {
    font-size: 1.25rem !important;
}

@media (min-width: 768px) {
    .competences {
        font-size: calc(1.3rem + 0.6vw) !important;
    }
}

strong {
    font-weight: 600 !important;
    color: black !important;
}

.john-doe-about {
    width: 100%;
    border-radius: 8px/21px;
}

.progress-labels {
    font-size: 0.8rem;
}